


#answer1{
  display: none;
}
#answer2{
  display: none;
}
#answer3{
  display: none;
}
#answer4{
  display: none;
}

#panel1{
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body {
  background-color: white;
  color: #111110;
}

.btn {
  margin: 10px;
}

.col-md-6 {
  padding: 15px;
}

.panel-body {
  height: 500px;
