

/*body{
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}*/
#java{
  display: none;
}
#php{
  display: none;
}
#ruby{
  display: none;
}

.btn {
  margin: 10px;
}





.panel-body {
  height: 500px;
  padding: 10px;
  background-color: #ffffcc;
}

h2{
  font-size: 100px;
}
