

body{
  background-image: url(../img/back2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
}
#java{
  display: none;
}
#php{
  display: none;
}
#ruby{
  display: none;
}

.btn {
  margin: 10px;
}

h1{
  text-align: center;
}


#panel3{
  background-image: url(../img/back4.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.panel-body {
  height: 500px;
  padding: 10px;
  /*background-color: #ffffcc;*/
}

h2{
  font-size: 100px;
}
